html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.main {
  min-height: 100vh;
  overflow-y: auto;
  padding: 20px;
}




.mainbox {
  display: flex;
  flex-wrap: wrap;       /* allow wrapping to next row */
  gap: 20px;             /* space between boxes */
  padding: 10px;         /* space inside parent */
  justify-content: flex-start; /* or center, or space-between */
  align-items: flex-start;
  overflow-y: auto;
  height: auto;
   overflow-x: hidden;
   width:100vw;
   height:100vh;
}




.SlideBar td {
  width: 250px;

  border-radius: 10px;
  padding: 10px;
  height: 5vh;
  
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.SlideBar {
  position:absolute;
  top: 5px;
  left: 5px;
  height: 100vh;
  width: 320px;
  position:absolute;
  display: flex;
}

.SlideBar td:hover {
  background-color: #69695c;
  cursor: pointer;
  border-radius: 55px;
}

.table-border {
  border-right: 1px solid black;
  border-collapse: collapse; /* optional, removes double borders */
}

